<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <class>com.festcube.openfire.plugin.roomhistory.RoomHistoryPlugin</class>

    <name>Festcube: Room history</name>
    <description>Returns room history</description>
    <author>Festcube</author>
    
    <databaseKey>roomhistory</databaseKey>
    <databaseVersion>0</databaseVersion>
    

    <version>1.0</version>
    <date>14/05/2014</date>
    <url>http://www.festcube.com</url>
    <minServerVersion>3.0.0</minServerVersion>
    <licenseType>internal</licenseType>

</plugin>